@model NarrowWebExchangeProj.Models.SiteUser

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>SiteUser</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentityUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteUserFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteUserFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteUserLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteUserLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteUserStreetAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteUserStreetAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteUserCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteUserCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteUserState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteUserState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteUserZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteUserZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteUserPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteUserPhone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SiteUserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
