@model NarrowWebExchangeProj.Models.Search

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Search</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SearchSiteUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SearchSiteUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SearchMake)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SearchMake)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SearchModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SearchModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SearchMinHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SearchMinHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SearchMaxHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SearchMaxHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SearchFromYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SearchFromYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SearchToYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SearchToYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SearchMinNumColors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SearchMinNumColors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SearchMaxNumColors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SearchMaxNumColors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SearchMinNumDieStations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SearchMinNumDieStations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SearchMaxNumDieStations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SearchMaxNumDieStations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SearchListingType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SearchListingType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SearchId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
