@model NarrowWebExchangeProj.Models.Listing

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Listing</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellerUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellerUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Make)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Make)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumColors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumColors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumDieStations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumDieStations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Condition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Condition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToolingIncluded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToolingIncluded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeaturesAndComments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeaturesAndComments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListingType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListingType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuyItNowPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuyItNowPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListingDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListingDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListingDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListingDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentBid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentBid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfBids)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfBids)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HighBidPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HighBidPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HighBidUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HighBidUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReserveMet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReserveMet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Commission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Commission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DueSeller)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DueSeller)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentReceived)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentReceived)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ListingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
