@model IEnumerable<NarrowWebExchangeProj.Models.Listing>

@{
    ViewData["Title"] = "SearchResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SearchResults</h1>


@foreach (var item in Model)
{

 <div class="container">
    <div class="row">
        <div class="column-md-12">
            <center>
                <tq>

                    <a asp-action="Details" asp-route-id="@item.ListingId" id="details">See Details and Buy or Bid on this Item</a> |

                </tq>
            </center>
        </div>
    </div>
     <hr />
    <div class="row">
        <div class="col-3">
            <img src="@Url.Content(item.Image1)" style="height:160px;width:190px;" alt="No Image" />
        </div>
        <div class="col-9">
            <table id="searchTable" style="width:100%">
                <tr>
                    <th>Listing Type</th>
                    <th>BuyItNowPrice</th>
                    <th>Reserve Price</th>
                    <th>Current Bid</th>
                    <th>Number of Bids</th>
                    <th>Reserve Met?</th>
                </tr>
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ListingType)</td>
                    <td>@Html.DisplayFor(modelItem => item.BuyItNowPrice)</td>
                    <td>@Html.DisplayFor(modelItem => item.ReservePrice)</td>
                    <td>@Html.DisplayFor(modelItem => item.CurrentBid)</td>
                    <td>@Html.DisplayFor(modelItem => item.NumberOfBids)</td>
                    <td>@Html.DisplayFor(modelItem => item.ReserveMet)</td>
                </tr>
            </table>
            <table id="searchTable"style="width:100%">
                <tr>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Width</th>
                    <th>Hours</th>
                    <th>Year</th>
                    <th>Print Stations</th>
                    <th>Die Stations</th>
                    <th>Condition</th>
                </tr>
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Make)</td>
                    <td>@Html.DisplayFor(modelItem => item.Model)</td>
                    <td>@Html.DisplayFor(modelItem => item.Width)</td>
                    <td>@Html.DisplayFor(modelItem => item.Hours)</td>
                    <td>@Html.DisplayFor(modelItem => item.Year)</td>
                    <td>@Html.DisplayFor(modelItem => item.NumColors)</td>
                    <td>@Html.DisplayFor(modelItem => item.NumDieStations)</td>
                    <td>@Html.DisplayFor(modelItem => item.Condition)</td>
                </tr>
            </table>
        </div>
        

    </div>
 </div>
 <hr />

}

